<md-content layout-padding layout="column" layout-align="center center">
<div class="main-container" layout-fill>
	<section layout="column" layout-align="center center">
		<h2 class="md-headline" style="text-align: center;">You're seconds away from establishing a healthy personal media consumption diet</h2>
		<p style="text-align: center;" class="md-body-1">With Humans you prioritize your contact feeds and have access to a single daily dose of context stripping out the social media distractions that come from constantly accelerating updates.</p>
		<md-button ng-disabled="true" class="md-raised md-primary">Download for iPhone</md-button>
		<p class="md-caption">We will email you a link to get the app on your phone when it becomes available.</p>
		<p class="md-body-1">In the meantime, <a href="#/connect">use the web version</a></p>

	</section>
</div>	
</md-content>		